<div class="container">
  <div class="row">
    <div class="col sm-4 mt-5">
      <form action="/answer" class="d-flex">
        <input type="text" name="question" class="form-control d" placeholder="What you want to tell to you coach?">
        <input type="submit" value="Ask!" class="btn btn-primary px-4 mx-2">
      </form>
    </div>
  </div>
</div>
